body {
  .principal {
    background-image: url('../images/background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-me-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

    .about-me-titulo {
      color: #fff;
    }
    .about-me-texto {
      color: #fff;
      width: 800px;
      margin: 0 auto;
    }
  }
}
