@import "../../styles/theme/index";
@import "../../styles/mixins";

.homeSection {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;

  div {
    margin-top: 13rem;
    .aboutMe {
      max-width: 37rem;
      width: 100%;
      color: $text;
      margin: -5rem 3rem 3rem 0;

      h2 {
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
        max-width: 100%;
        @include BigTitle();
        color: $accent;
      }
    }

    .techStack {
      margin-top: 5rem;
      max-width: 40rem;
      width: 100%;
      max-height: 20rem;
      height: 100%;

      p {
        font-size: 1.5rem;
        color: $text;
        @include DisplayFlex(flex-start, space-between);
        gap: 1rem;
        margin-bottom: 1rem;
        span {
          color: $accent;
        }
      }
      div {
        @include DisplayFlex();
        flex-wrap: wrap;
        gap: 5rem;
        margin: 0 auto;
      }
    }
  }
  aside {
    margin-top: 10%;
  }
}

.projetosSection {
  position: relative;
  margin: 0 auto;
  margin-top: 25rem;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;

  h2 {
    @include BigTitle();
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    color: $accent;
  }

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    img {
      aspect-ratio: 1/1;
    }
  }
}

@media (max-width: 1100px) {
  .projetosSection {
    flex-direction: column;
    h2 {
      font-size: 4rem;
    }

    img {
      width: 40rem;
      height: 30rem;
    }
  }
}

@media (max-width: 1000px) {
  .homeSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    aside {
      display: none;
    }
  }

  .projetosSection {
    margin-top: 40rem;
    h2 {
      font-size: 3.5rem;
    }

    img {
      width: 35rem;
      height: 25rem;
    }
  }
}

@media (max-width: 650px) {
  .homeSection {
    margin: 0 0 1rem 1rem;
    div {
      .aboutMe {
        font-size: 1.5rem;
        max-width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        h2 {
          font-size: 4.5rem;
        }
      }
    }
  }

  .projetosSection {
    margin-top: 45rem;
    h2 {
      font-size: 3rem;
    }

    img {
      width: 30rem;
      height: 20rem;
    }
  }
}

@media (max-width: 480px) {
  .homeSection {
    div {
      .aboutMe {
        font-size: 1.25rem;
        max-width: 90vw;
        h2 {
          font-size: 4rem;
        }
      }
    }
  }

  .projetosSection {
    margin-top: 55rem;
    h2 {
      font-size: 2.5rem;
    }

    img {
      width: 25rem;
      height: 15rem;
    }
  }
}

@media (max-width: 400px) {
  .homeSection {
    div {
      .aboutMe {
        font-size: 1.15rem;
        max-width: 80vw;
        h2 {
          font-size: 3.5rem;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .homeSection {
    div {
      .aboutMe {
        font-size: 1.15rem;
        max-width: 80vw;
        h2 {
          font-size: 3rem;
        }
      }
    }
  }
}
