@import '../../../styles/theme/index.scss';

.container {
  position: static;
  display: flex;
  justify-content: space-between;
  padding-left: 113px;
  padding-right: 113px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.links {
  gap: 55px;
}

.icon {
  color: $accent;
  order: 1;
  flex-grow: 0;
}