@import '../../../styles/theme/index.scss';

.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: 113px;
  padding-right: 113px
}

.links {
  gap: 55px;
}

.icon {
  color: $accent;
  order: 1;
  flex-grow: 0;
}