body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        width: 0.6rem;
    }  
    
    &::-webkit-scrollbar-track {
        background: transparentize($color: #ffffff, $amount: 1);
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: darkblue; 
        border-radius: 15px; 
    }
    
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
html{
    scroll-behavior: smooth;
}
